<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bet-King — Деталі матчу 7</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>

<header>
    <div class="left">
        <div class="logo">
            <img src="gg.png" alt="Logo">
        </div>
        <a class="brand" href="../zra/bet.html" style="color: white; font-size: 28px; font-weight: 800; text-decoration: none;">Bet-King</a>
    </div>
    <nav class="gay">
            <button class="btn-nav" onclick="location.href='main.html'">News</button>
            <button class="btn-nav active" onclick="location.href='index.html'">Matches</button>
            <button class="btn-nav" onclick="location.href='res.html'">Results</button>
            <button class="btn-nav" onclick="location.href='events.html'">Events</button>
            <button class="btn-nav" onclick="location.href='players.html'">Players</button>
    </nav>
        <div class="header-right">
           <button class="header-signin">Sign in</button>
        </div>
</header>


<div class="containerresults">

<h1>opponent VS australis</h1>

<div class="results">
    <article class="result-card">
        <div>
            <div class="result-title">opponent vs australis</div>
            <div class="result-subtitle">чверть фінал</div>
        </div>
        <div>
            <div class="result-score">13 : 11 - ancient</div>
            <div class="result-score">13 : 5 - nuke </div>
            
        </div>
    </article>
    <article class="result-card">
        <div>
            <div class="result-title inline-title">
                <span class="title-part" onclick="location.href='0pp.html'">MVP OF MATCH - 0pp</span>
                <span class="title-part">POINTS - 82</span>
                <span class="title-part">K/D - 1.49</span>
            </div>
        </div>
    </article>
</div>
</div>


</body>
</html>